<form (ngSubmit)="submit()">

  <input
    type="text"
    placeholder="Title"
    [(ngModel)]="newPost.title"
    name="title"
    required
  />

  <br /><br />

  <textarea
    placeholder="Content"
    [(ngModel)]="newPost.content"
    name="content"
    required
  ></textarea>

  <br /><br />

  <input
    type="text"
    placeholder="Author"
    [(ngModel)]="newPost.author"
    name="author"
    required
  />

  <br /><br />

  <button type="submit">
    {{ editingPostId ? 'Update Post' : 'Add Post' }}
  </button>

</form>
